*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

.navbar{
    width: 100%;
    
    padding: 20px;
.nav{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        color: #FD7E14;
        font-weight: 500;
    }
    .links{
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        
        ul{
            display: flex;
            gap: 20px;
        }
        button{
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            background-color: #FD7E14;
            color: white;
            font-size: 13px;
        }
    }
}

}

.end{
    text-align: center;
    padding: 40px;
    font-size: 18px;
    background-color: #343A40;
color: rgb(190, 188, 188);
    span{
        color: red;
        
    }
}